
/* body container */
.App{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;

}

/* NavBar */
.header{
  height: 10%;
  width: 100%;
}
/* Body of the page */
.BodyContainer{
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
}



/* Footer  */
.Footer{
  height: 10%;
  background-color: lightgrey;
}

.sideNavBar{
  background-color: #F4F3F3;
  width: 15%;
  /* height: 100%; */
}
.content{
  width: 85%;
  /* position: relative; */
  position: relative; 
}

.body{
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}


/* Item */
/* .record{
  margin: 10px;
}  */





